<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style/sarkari.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="child-1">
            <div class="child-1-1">
                <div class="child-1-1-a">
                    <img src="image2/logo-new.png" class="image" />
                </div>

                <div class="child-1-1-a1">
                    <h1 class="h-1">Sarkari Result</h1>
                    <a href="WWW.SARKARIRESULT.COM" class="email">WWW.SARKARIRESULT.COM</a>
                </div>
            </div>

            <div class="child-1-2">
                <div class="child-1-2-a">
                    <li><a href="home" class="bg">Home</a></li>
                </div>
                <div class="child-1-2-a">
                    <li><a href="home" class="bg">Latest jobs</a>
                </div>
                <div class="child-1-2-a">
                    <li> <a href="home" class="bg">Results</a>
                </div>
                <div class="child-1-2-a">
                    <li> <a href="home" class="bg">Admit Card</a>
                </div>
                <div class="child-1-2-a">
                    <li> <a href="home" class="bg">Answer Key</a>
                </div>
                <div class="child-1-2-a">
                    <li> <a href="home" class="bg">Syllabus</a>
                </div>
                <div class="child-1-2-a">
                    <li> <a href="home" class="bg">Search</a>
                </div>
                <div class="child-1-2-b">
                    <li> <a href="home" class="bg">Contact us</a>
                </div>
            </div>
        </div>
        <br />

        <div class="child-2">
            <div class="ch-2-1">
                <h3>Sarkari Result : SarkariResult.Com Sarkari Naukri Latest Jobs Online Form at Sarkari Results 2024
                </h3>
                <h3 class="h-3">Welcome to No. 1 Education Portal Sarkari Result 2024</h3>

                <ul>
                    <li><a href="" class="m2">Sarkari Result Android Apps</a>&nbsp;||&nbsp;<a href="" class="m2">
                            Sarkari Result Youtube Channel&nbsp;</a>||&nbsp;<a href="" class="m2">Sarkari Result Apple /
                            IOS Apps</a>&nbsp;||&nbsp;<a href="" class="m2">Follow Instagram</a></li>

                    <marquee behavior="alternate" onmouseover="stop()" onmouseleave="start()" scrollamount="6">
                        <li><a href="" class="m2">CCC Exam Admit Card July 2024 </a>&nbsp;||&nbsp;<a href=""
                                class="m2">RBI Officers Grade B Online Form 2024</a>&nbsp;||&nbsp;<a href=""
                                class="m2">UPITI Admission Online Form 2024</a></li>
                    </marquee>

                    <marquee behavior="alternate" onmouseover="stop()" onmouseleave="start()" scrollamount="6">
                        <li><a href="" class="m2"> UKPSC APS Online Form 2024 </a> &nbsp;||&nbsp;<a href=""
                                class="m2">JSSC Intermediate Level Online Form 2024 </a> &nbsp;| |&nbsp;<a href=""
                                class="m2">NVS Class 6th Admissions Online Form 2025</a></li>
                    </marquee>

                    <marquee behavior="alternate" onmouseover="stop()" onmouseleave="start()" scrollamount="6">
                        <li><a href="" class="m2">SSC CHSL Answer Key Paper I 2024 </a>&nbsp;||&nbsp;<a href=""
                                class="m2">Bihar STET Answer Key 2024</a>&nbsp;||&nbsp; <a href="" class="m2">RRC CR
                                Apprentices Online Form 2024</a></li>
                    </marquee>
                </ul>

            </div>
        </div>

        <div class="child-3">
            <div class="ch3-1"></div>
        </div>
        <br />
        <div class="child-4">
            <div class="ch4-1">
                <div class="ch4-1-1">
                    <div class="ch4a c4">IBPS Clerk
                        Apply Online</div>
                    <div class="ch4a c5">BSPHCL Vacancy
                        Apply Online</div>
                    <div class="ch4a c6">Bihar STET 2024
                        Answer Key</div>
                    <div class="ch4a c7">SSC CGL 2024
                        Apply Online</div>
                </div>
                <div class="ch4-1-2">
                    <div class="ch4a c8">SSC CHSL 2024
                        Answer Key</div>
                    <div class="ch4a c9"> SSC MTS 2024
                        Apply Online</div>
                    <div class="ch4a c10">UPITI Admissions
                        Apply Online</div>
                    <div class="ch4a c11">India Post GDS
                        Apply Online</div>

                </div>
            </div>
        </div>
        <br/>

        <div class="child-5">
            <div class="ch5"></div>
            <div class="ch5-1">
                <div class="ch5-1-1 ">Result</div>
                <div class="ch5-1-2">
                <ul>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li><br/>
                    <li><a href="" class="view"> View More</a></li>
                     
                     
                </ul>
            </div>
            </div>

            <div class="ch5-1">
                <div class="ch5-1-1 ">Result</div>
                <div class="ch5-1-2">
                <ul>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li><br/>
                    <li><a href="" class="view"> View More</a></li>
                     
                     
                </ul>
            </div>
            </div>
            <div class="ch5-1">
                <div class="ch5-1-1 ">Result</div>
                <div class="ch5-1-2">
                <ul>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li><br/>
                    <li><a href="" class="view"> View More</a></li>
                     
                     
                </ul>
            </div>
            </div>
            </div>
            <br/>
            <br/>

        <div class="child-6">
            <div class="ch6a">
                <div class="ch6b">
                    <div class="ch6-1a">
                        <div class="ch5-1-1"></div>
                        <ul class="ulist">
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <br/>
                        <li><a href="" class="view"> View More</a></li>
                    </ul>
                    </div>
                    <div class="ch6-1a">
                        <div class="ch5-1-1"></div>
                        <ul class="ulist">
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <br/>
                        <li><a href="" class="view"> View More</a></li>
                    </ul>
                    </div>
                </div>
                <br/>
                <div class="ch6b">
                    <div class="ch6-1a">
                        <div class="ch5-1-1"></div>
                        <ul class="ulist">
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <br/>
                        <li><a href="" class="view"> View More</a></li>
                    </ul>
                    </div>
                    <div class="ch6-1a">
                        <div class="ch5-1-1"></div>
                        <ul class="ulist">
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <li><a href="">dkniufibcfbvfjfjhbhddc</a></li>
                        <br/>
                        <li><a href="" class="view"> View More</a></li>
                    </ul>
                    </div>
                </div>
            </div>
<br/>
            <div class="ch6a1">
                <div class="ch5-1-1"></div>
                <ul class="ulist">
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li>
                    <li><a href="">jhdsfhsdjsjfdjfsdjhgsdgcgsd</a></li><br/>
                    <li><a href="" class="view"> View More</a></li>
                     
                     
                </ul>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
         <br/>
        <div class="child-7">
            <div class="a">kakndfoidsvn dsjvbkjsdkv skjvbks nbkjv jbk ndnls dn nkc</div>
            <div class="b"></div>
        </div>
        <div class="child-7">
            <div class="a">kakndfoidsvn dsjvbkjsdkv skjvbks nbkjv jbk ndnls dn nkc</div>
            <div class="b"></div>
        </div>
        <div class="child-7">
            <div class="a">kakndfoidsvn dsjvbkjsdkv skjvbks nbkjv jbk ndnls dn nkc</div>
            <div class="b"></div>
        </div>
        <div class="child-7">
            <div class="a">kakndfoidsvn dsjvbkjsdkv skjvbks nbkjv jbk ndnls dn nkc</div>
            <div class="b"></div>
        </div>
        <div class="child-8">
            <hr/>
            <div class="c">hfgnfgvnghbnghbmghnmgh vbb vnvbv ghb gb </div>
            <hr/>
            <div class="d">
                <div class="e"></div>
                <div class="e"></div>
                <div class="e"></div>
                <div class="e"></div>
                <div class="e"></div>
            </div>
        </div>
</body>

</html>
 

