<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../e-commerce.css" />
</head>

<body>
    <form>
      
        <div class="box">
            <h1 class="h"><b>Please,you login</b></h1>
            <div class="fields">
                <label for="login"><b>Email/Username :</b></label><br/>
                <input id="login" class="input-1" placeholder="Enter email-id / User-id" required/>
            </div>
            <div class="fields">
                <label for="password"><b>Password :</b></label><br/>
                <input id="password" class="input-1"  placeholder="Enter your password" required/>
            </div>
            <div>
                <button class="btn-1">Register</button>
            </div>
            <h3>Not Register ? <a href="../index.html" id="h0"> Create an Account</a></h3>
        </div>
       
    </form>
</body>

</html>