<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/all.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="../js/bootstrap.bundle.js"></script>
    <style>
        :root {--color1: #01559d;--color2: #ff6600;}.txt-color1 {color: var(--color1);}.text-color2 {color: var(--color2);}.bg-color1 {background: var(--color1);}
        .bg-color2 {background: var(--color2);}.social .fa-brands {color: var(--color2) !important;font-size: 18px;border: 2px solid var(--color2);height: 30px;      width: 30px;line-height: 30px;background: white;}.social .fa-brands:hover {transform: rotate(360deg);transition: 5s;background: var(--color2);color: white;}
        .br {border: none;border-radius: 7px;}.s {background-color: white;min-height: 250px;}.e {min-height: 260px;}.fs-6 {font-size: 5px;}.tl {text-align: justify;}
        .mn {min-height: 200px;}.mn1 {min-height: 50px;}.bg1{background-color: #f8f9fa;}.bg2{background-color: #eee;min-height: 70px;}.de {text-decoration: none;color: white;}.w {width: 150px;}.clr{border:2px solid #ffc146; border-radius:60%;border-color:#ffc146;}
     </style>
    <title>myProject</title>
</head>

<body class="container-fluid bg-light">

    <div class="row ttop bg-color1 text-center py-1 text-light  sticky-top">
        <div class="col-sm-4">
            <i class="fa-solid fa-phone fa-spin"></i>
            8112572257 | kumarkamaljeet119@gmail.com
        </div>
        <div class="col-sm-4">An ISO 9001:2015 Certified Software Company</div>
        <div class="col-sm-4 social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-youtube"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
        </div>
    </div>
    <div class="row header sticky-top bg-light">
        <div class="col-sm-3 ps-5 pt-1">
            <img src="../images/logo.png" style="max-height:45px; " class="img-fluid pt-3" />
        </div>
        <div class="col-sm-9">
            <!-- start menu-->
            <nav class="navbar navbar-expand-lg mx-2 py-2  sticky-top" id="menu">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../website_1.html">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Aboutus
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about_company.html">About Company</a></li>
                                    <li><a class="dropdown-item" href="portpolio.html">Portfolio</a></li>
                                    <li><a class="dropdown-item" href="academy_records.html">Academic Records</a></li>
                                </ul>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Registration
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="online_training.html"> Online Training</a></li>
                                    <li><a class="dropdown-item" href="offline_training.html">Offline Training</a></li>
                                    <li><a class="dropdown-item" href="free_register.html"> Free Cources</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="course.html">courses</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Training
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="summertraining_1.html">Summer Training(CS/IT)</a></li>
                                    <li><a class="dropdown-item" href="summer_training_2.html">Summer Training(EC/EE)</a></li>
                                    <li><a class="dropdown-item" href="summer_training_3.html">Summer Training(CE/ME)</a></li>
                                    <li><a class="dropdown-item" href="summer_training_4.html">Apprenticeship Program</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="feedback.html">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a href="login.html" class="nav-link">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 mx-auto ">
                    <div class="input-group ">
                        <span class="input-gruop-text "></span>
                        <input type="search" class="form-control " placeholder="Search" />
                        <input type="submit" value="Search" class="bg-warning br" />
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <!-- end menu -->
     <!--section 1 start-->
    <div class="col-sm-12 pt-5 text-center">
        <b class="fs-2 ">Techpile Academic</b>  <b class="text-warning fs-2">  Record</b>
        <p class="text-warning fs-2" style="margin-top:-3%;"><b>____________</b></p>
        <p class="fs-6" style="margin-top:-1.4%;"> With continuous expansion, Techpile witness is high surge in popularity in its Industrial Training<br/> and Apprenticeship Program.</p>
    </div>
    <!--section 1 end-->
     <!--section 2 start-->
     <div class="row e bg1 mt-5 bg1">
        <div class="col-sm-9 s mx-auto bg1">
            <div class="row p-2 ">
                <div class="col-sm-6 mx-auto">
                    <div class="row bg1">
                        <div class="col-sm-12 mn bg1">
                             <img src="../images/graph.png" class="img-fluid "style="max-height:600px" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mx-auto  bg1"> 
                    <div class="row bg1 s"style="margin-top:-3%;">
                        <div class="col-sm-12">
                            <b class="fs-5 ">Pioneering Industry</b>  <b class="text-warning fs-4"> Trust</b>
                            <p class="fs-6" style="margin-top:-1%;">Over recent years, our company has emerged as a beacon of trust and reliability within the industry. We are dedicated on our commitment in establishing partnerships based on integrity and excellence.</p>
                    </div>
                    <div class="row  bg1 rounded-4"style="margin-top:-6%;">
                        <div class="col-sm-12">
                            <b class="fs-5 ">Positive Reviews and</b>  <b class="text-warning fs-4"> Testimonials</b>
                            <p class="fs-6" style="margin-top:-1%;">Over recent years, our company has emerged as a beacon of trust and reliability within the industry. We are dedicated on our commitment in establishing partnerships based on integrity and excellence.</p>
                    </div>
                    <div class="row  bg1 rounded-4"style="margin-top:-6%;">
                        <div class="col-sm-12">
                            <b class="fs-5 ">Elevated Excellence</b>  <b class="text-warning fs-4"> Excellence</b>
                            <p class="fs-6" style="margin-top:-1%;">Over recent years, our company has emerged as a beacon of trust and reliability within the industry. We are dedicated on our commitment in establishing partnerships based on integrity and excellence.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
     <!--section 2 end-->
    </div>
    </div>
    </div>
    <!--section 3 start-->
    <div class="col-sm-9 mx-auto e bg1">
        <div class="row mt-5">
            <div class="col-sm-4 e text-center">
                <div class="row p-3">
                    <div class="col-sm-12  s bg1"> <span class="fs-1 clr p-3 text-warning "><i class="fa-solid fa-users"></i></span><br/><br/>
                       <b class="fs-2">30000+</b><br/>
                       <b class="fs-6">Students taught So far</b><br/>
                       <p class="fs-6">Crafting Dynamic Solutions in Software and Web Development Services</p></div>
                </div>
            </div>
            <div class="col-sm-4 e text-center">
                <div class="row p-3">
                    <div class="col-sm-12 s bg1"> <span class="fs-1 clr p-3 text-warning "><i class="fa-solid fa-graduation-cap"></i></span><br/><br/>
                       <b class="fs-2">2000+</b><br/>
                       <b class="fs-6">STrainee’s Placed in Top IT Companies</b><br/>
                       <p class="fs-6">Elevating Industries through Research, Analysis & Innovation Expertise</p></div>
                </div>
            </div>
            <div class="col-sm-4 e text-center">
                <div class="row p-3">
                    <div class="col-sm-12 s bg1"> <span class="fs-1 clr p-3 text-warning "><i class="fa-solid fa-chalkboard-user"></i></span><br/><br/>
                       <b class="fs-2">150+</b><br/>
                       <b class="fs-6">Placement Assistance with partner Companies</b><br/>
                       <p class="fs-6">Elevating Industries through Research, Analysis & Innovation Expertise</p></div>
                </div>
            </div>
        </div>
    </div>
    <!--section 3 End-->
    <!--section 4 start-->
    <div class="col-sm-9 mx-auto e bg1">
        <div class="row mt-1 mb-2">
            <div class="col-sm-4 e">
                <div class="row p-3 text-center ">
                    <div class="col-sm-12  s bg1">
                        <span class="fs-1 clr p-3 text-warning "><i class="fa-regular fa-star"></i></i></span><br/><br/>
                       <b class="fs-2">1700+</b><br/>
                       <b class="fs-6">Highest Reviewed Company</b><br/>
                       <p class="fs-6">Techpile is the One of the Highest Reviewed Company on Google</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 e">
                <div class="row p-3">
                    <div class="col-sm-12 s text-center bg1">
                        <span class="fs-1 clr p-3 text-warning "><i class="fa-solid fa-robot"></i></span><br/><br/>
                        <b class="fs-2">100%</b><br/>
                        <b class="fs-6">Placement Record (Apprenticeship Students)</b><br/>
                        <p class="fs-6">Elevating Industries through Research, Analysis & Innovation Expertise</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 e">
                <div class="row p-3">
                    <div class="col-sm-12 s text-center bg1">
                        <span class="fs-1 clr p-3 text-warning "><i class="fa-solid fa-pen"></i></span><br/><br/>
                        <b class="fs-2">200+</b><br/>
                        <b class="fs-6">MOUs with Government and private College</b><br/>
                        <p class="fs-6">Techpile have 200+ Memorandum of Understanding with Government and private College</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- footer section -->
 <div class="row bg-secondary e">
    <div class="col-sm-11 mx-auto e">
        <div class="row">
            <div class="col-sm-3 e pt-5">
                <div class="row p-3">
                    <div class="col-sm-12 e ">
                         <img src="../images/c.png" class="img-fluid mb-2 w" /><br/>
                         <img src="../images/d.png" class="img-fluid mb-2 w" /><br/>
                         <img src="../images/e.png" class="img-fluid mb-2 w" /><br/>
                         <p class="fs-6 text-light">Stay Connected</p>
                         <span class="fs-3 text-light"><i class="fa-brands fa-square-youtube"></i> </span>
                         <span class="fs-3 text-light"> <i class="fa-brands fa-facebook"></i> </span>
                         <span class="fs-3 text-light"><i class="fa-brands fa-instagram"></i></span>
                         <span class="fs-3 text-light"><i class="fa-brands fa-linkedin"></i></span>
                         <span class="fs-3 text-light"><i class="fa-brands fa-github"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 e">
                <div class="row p-3">
                    <div class="col-sm-12 e pt-5 pl-5">
                        <b class="fs-3 text-center text-light mt-4">Useful Links</b><br/>
                        <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="....">  <i class="fa-solid fa-angle-right"></i>home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 e">
                <div class="row p-3">
                    <div class="col-sm-12 e pt-5 pb-5">
                        <b class="fs-3 text-center mt-4 "> </b><br/>
                        <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                        <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 e">
                <div class="row p-3">
                    <div class="col-sm-12 e pt-5 pb-5 text-light">
                        <b class="fs-3 text-center text-light mt-4">Contact Address</b><br/>
                        <p>Plot No-43, Behind H.P Petrol Pump,<br/>
                            Tedhi Pulia Ring Rd, Sector 5,<br/>
                            Vikas Nagar, Lucknow,<br/>
                            Uttar Pradesh 226022</p>
                            <p>+91 8112572257</p>
                            <p> kumarkamaljeet119@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row bg-secondary pb-5 pt-3">
    <div class="col-sm-6 mn1 bg-secondary text-light text-center mx-auto">Ⓒ 2024 <b class="text-warning">Techpile Technology</b> 2024 | Developed By <b class="text-warning">Techpile-Technical Cell</b></div>
  </div>
  <!--End footer section -->
    
</body>
</html>