<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="../css/bootstrap.min.css" rel="stylesheet"/>     
      <link href="../css/all.css" rel="stylesheet"/>
      <link href="../css/style.css" rel="stylesheet"/>
      <script src="../js/bootstrap.bundle.js"></script>
      <style>
        :root
        {
         --color1:#01559d;
       --color2:#ff6600;
        }
        .txt-color1{color:var(--color1);}
        .text-color2{color:var(--color2);}
        .bg-color1{background:var(--color1);}
        .bg-color2{background:var(--color2);}
        .social .fa-brands{color:var(--color2) !important;font-size:18px;border: 2px solid var(--color2);height:30px;
       width:30px;	line-height:30px;	background:white; }
        .social .fa-brands:hover{transform:rotate(360deg);transition:5s;background:var(--color2);color:white;}
        .br{border:none;border-radius:7px;}.s{background-color:white;min-height:250px;}.e{min-height: 260px;}.fs-6{font-size:10px;}.tl{text-align:justify;}.mn{min-height:200px;}.mn1{min-height: 50px;}.bg1{background-color:#f8f9fa;}.bg2{background-color:#eee;min-height:70px;}.de{text-decoration: none; color:white;}.w{width:150px;}
       </style>
    <title>myProject</title>
</head>
<body class="container-fluid bg-light">
  
  <div class="row ttop bg-color1 text-center py-1 text-light  sticky-top">
    <div class="col-sm-4">
  <i class="fa-solid fa-phone fa-spin"></i>
  8112572257 | kumarkamaljeet119@gmail.com</div>
    <div class="col-sm-4">An ISO 9001:2015 Certified Software Company</div>
    <div class="col-sm-4 social">
 <i class="fa-brands fa-square-facebook"></i>
   <i class="fa-brands fa-square-instagram"></i>
   <i class="fa-brands fa-square-youtube"></i>
   <i class="fa-brands fa-square-twitter"></i>
   <i class="fa-brands fa-square-whatsapp"></i>
  </div>
  </div>
  <div class="row header sticky-top bg-light">
    <div class="col-sm-3 ps-5 pt-1">
   <img src="../images/logo.png" style="max-height:45px; " class="img-fluid pt-3"/>
  </div>
    <div class="col-sm-9">
   <!-- start menu-->
    <nav class="navbar navbar-expand-lg mx-2 py-2  sticky-top"id="menu">
 <div class="container-fluid">
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="../website_1.html">Home</a>
       </li>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Aboutus
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="about_company.html">About Company</a></li>
           <li><a class="dropdown-item" href="portpolio.html">Portfolio</a></li>
           <li><a class="dropdown-item" href="academy_records.html">Academic Records</a></li>
         </ul>
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Registration
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="online_training.html"> Online Training</a></li>
           <li><a class="dropdown-item" href="offline_training.html">Offline Training</a></li>
           <li><a class="dropdown-item" href="free_register.html"> Free Cources</a></li>
         </ul>
       </li>
   <li class="nav-item">
         <a class="nav-link" href="course.html">courses</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Training
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="summertraining_1.html">Summer Training(CS/IT)</a></li>
           <li><a class="dropdown-item" href="summer_training_2.html">Summer Training(EC/EE)</a></li>
           <li><a class="dropdown-item" href="summer_training_3.html">Summer Training(CE/ME)</a></li>
           <li><a class="dropdown-item" href="summer_training_4.html">Apprenticeship Program</a></li>
         </ul>
       </li>
   <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="contact.html">Contact</a>
       </li>
   <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="feedback.html">Feedback</a>
       </li>
   <li class="nav-item">
       <a href="login.html" class="nav-link">Login</a>
   </li>
</ul>
   </div>
 </div>
 <div class="col-sm-3 mx-auto ">
   <div class="input-group ">
       <span class="input-gruop-text "></span>
       <input type="search" class="form-control " placeholder="Search"/>
       <input type="submit" value="Search" class="bg-warning br"/>
   </div>
</div>
</nav>
  
  </div>
  </div>
 <!-- end menu -->


  <div class="row contactus"><b class="fs-2 text-center pt-4">Contact Us</b>
    <p class="text-center">You may contact us by contact number or fill this form any time you need professional support or </p>
    <p class="text-center"style="margin-top:-1%;">have any question.</p>
     <div class="col-sm-10 mx-auto e bg-light">
      <div class="row">
        <div class="col-sm-7">
          <div class="row p-2">
            <div class="col-sm-12 bg-light e pt-2">
             <div class="row">
              <div class="col-sm-6">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                  <input type="text" placeholder="Enter Your Name" class="form-control "/>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group mb-3">
                  <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                  <input type="text" placeholder="Enter Your Number" class="form-control  "/>
                </div>
              </div>
             </div>
             <div class="col-sm-12 mb-3">
              <div class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                <input type="email"placeholder="Enter email" class="form-control"/>
              </div>
              <br>
                Messages :<br>
                <textarea class="form-control"placeholder='Type your message here*' rows="6" cols="6"></textarea><br>
                <button class="btn btn-outline-success">Send Messages</button>
             </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-5 fs-3 text-center"> Contact Info*
          <div class="row p-2 ">
            <div class="col-sm-12 bg-light e">
              <div ><b class="fs-4 text-warning pt-3" style="margin-top:-4%;">Offices Address</b><br>
              <p class="fs-6"style="margin-top:-2%;">Plot No-43,</p> 
                <p class="fs-6"style="margin-top:-4%;">Behind H.P Petrol Pump,</p>
                <p class="fs-6"style="margin-top:-4%;">Tedhi Pulia Ring Rd, Sector 5,</p>
                <p class="fs-6"style="margin-top:-4%;">Vikas Nagar, Lucknow</p>
                <p class="fs-6"style="margin-top:-4%;">Uttar Pradesh 226022</p>
              </div>
              <div ><b class="fs-4 text-warning">Call Us</b>
               <p class="fs-4"><b> For CS/IT </b></p>
               <p class="fs-6" style="margin-top:-2%;"> +91 9140444301, 
                     +91 7007237006,</p>
                <p class="fs-6" style="margin-top:-3%;">+91 7348481001, 
                   +91 7348481004,</p>
                <p class="fs-6"><b>For ELX/Civill</b></p>
                <p class="fs-6"style="margin-top:-2%;">+91 7348481002,</p>
                <p class="fs-6"style="margin-top:-3%;">+91 7348481003
              </p></div>
              <div ><b class="fs-4 text-warning">Mail Us</b>
              <p class="fs-5" style="margin-top:-2%;">techpilelko@gmail.com</p>
               <p class="fs-5" style="margin-top:-4%;">hr@techpile.in</p></div>
            </div>
          </div>
        </div>
      </div>
     </div>
     
  </div>
   
 <!-- footer section -->
 <div class="row bg-secondary e">
  <div class="col-sm-11 mx-auto e">
      <div class="row">
          <div class="col-sm-3 e pt-5">
              <div class="row p-3">
                  <div class="col-sm-12 e ">
                       <img src="../images/c.png" class="img-fluid mb-2 w" /><br/>
                       <img src="../images/d.png" class="img-fluid mb-2 w" /><br/>
                       <img src="../images/e.png" class="img-fluid mb-2 w" /><br/>
                       <p class="fs-6 text-light">Stay Connected</p>
                       <span class="fs-3 text-light"><i class="fa-brands fa-square-youtube"></i> </span>
                       <span class="fs-3 text-light"> <i class="fa-brands fa-facebook"></i> </span>
                       <span class="fs-3 text-light"><i class="fa-brands fa-instagram"></i></span>
                       <span class="fs-3 text-light"><i class="fa-brands fa-linkedin"></i></span>
                       <span class="fs-3 text-light"><i class="fa-brands fa-github"></i></span>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 e">
              <div class="row p-3">
                  <div class="col-sm-12 e pt-5 pl-5">
                      <b class="fs-3 text-center text-light mt-4">Useful Links</b><br/>
                      <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="....">  <i class="fa-solid fa-angle-right"></i>home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 e">
              <div class="row p-3">
                  <div class="col-sm-12 e pt-5 pb-5">
                      <b class="fs-3 text-center mt-4 "> </b><br/>
                      <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de" href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                      <a class="de"  href="..." alt="...."> <i class="fa-solid fa-angle-right"></i> home</a><br/>
                  </div>
              </div>
          </div>
          <div class="col-sm-3 e">
              <div class="row p-3">
                  <div class="col-sm-12 e pt-5 pb-5 text-light">
                      <b class="fs-3 text-center text-light mt-4">Contact Address</b><br/>
                      <p>Plot No-43, Behind H.P Petrol Pump,<br/>
                          Tedhi Pulia Ring Rd, Sector 5,<br/>
                          Vikas Nagar, Lucknow,<br/>
                          Uttar Pradesh 226022</p>
                          <p>+91 8112572257</p>
                          <p> kumarkamaljeet119@gmail.com</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="row bg-secondary pb-5 pt-3">
  <div class="col-sm-6 mn1 bg-secondary text-light text-center mx-auto">Ⓒ 2024 <b class="text-warning">Techpile Technology</b> 2024 | Developed By <b class="text-warning">Techpile-Technical Cell</b></div>
</div>
<!--End footer section -->
  </div>
</body>
</html>